@import '../common/mixins';
//appearance: none;
.register-form {
  &__label {
    @include header;
    @include label;
  }
  &__input {
    @include header;
    @include input;
  }

  &__user-type-wrapper {
    display: flex;
    width: 40%;
    margin: 20px auto 10px;
    border-radius: 15px;
    overflow: hidden;
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
  }

  &__user-type {
    display: block;
    margin: 0;
    flex: 1 1 100px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $color-light;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.3s;

    &:checked {
      background-color: $color-success;
    }

    &--client {
      &:before {
        content: 'Client';
      }
    }
    &--master {
      &:before {
        content: 'Master';
      }

    }
  }

  &__btn {
    @include btn;
  }
}