@import "../common/theme";

.greeting-form {
  font-size: 15px;
  font-weight: 600;

  &__tab {
    display: block;
    margin: 0;
    flex: 1 1 150px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $color-light;
    background-color: $color-dark;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.3s;

    &:checked,
    &:hover,
    &:focus {
      background-color: $color-success;
      outline: none;
      box-shadow:
        inset 0 0 0 1px $color-dark,
        inset 0 0 0 2px $color-light;
    }

    &--login {
      &:before {
        content: 'Log In';
      }
    }

    &--registration {
      &:before {
        content: 'Registration';
      }
    }

  }
  &__tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}