@import "theme";

@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  } @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
  } @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin font(
  $fontFamily: sans-serif,
  $size: 15px,
  $color: $color-dark,
  $weight: 500,
  $line-height: 1.2
) {
  font-family: $fontFamily;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin header(
  $padding: 10px,
  $backgroundColor: $color-light
) {
  @include font;
}

@mixin block(
  $padding: 10px,
  $backgroundColor: $color-light
) {
  @include font;

  display: block;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin label($width: 100%) {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  width: $width;
}

@mixin input($width: 100%) {
  box-sizing: border-box;
  display: block;
  padding: 7px;
  width: $width;
  border-radius: 2px;
  border: 1px solid $color-secondary;
  outline: none;
  transition-duration: 0.3s;

  &--success {
    border-color: $color-success;
  }

  &--wrong {
    border-color: $color-wrong;
  }

}

@mixin btn(
  $backgroundColor: $color-primary,
  $color: $color-light
) {
  @include font;
  margin: 20px auto;
  padding: 8px 16px;
  display: block;
  background-color: $backgroundColor;
  color: $color;
  border: none;
  outline: none;
  text-transform: uppercase;
  min-width: 120px;
  border-radius: 2px;

}